
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
$bordergray :#DDDDDD;
$bannergray :#F5F5F5;
$navbargray: #827A76;

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.header{
  background-color: $bannergray;
}

#repo-template{
  width: 100%;
}

h3 {
  display: inline-block;
}

#repo-template > img{
  float: right;
}
