
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
$bordergray :#DDDDDD;
$bannergray :#F5F5F5;
$navbargray: #827A76;

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.header{
  background-color: $bannergray;
}

.github-search{
  width:354px;
  display: inline-block;
}

.main-spacer{
  margin-top: 24px;
}

.profile-pic{
  border-radius: 5px;
}

.name-holder{
  margin-top: 16px;
  margin-bottom: 16px;
}

.sidebar-name{
  font-size: 26px;
  line-height: 30px;
  font-weight: 600;
}

.sidebar-user{
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  color: #666666;
  line-height: 24px;
}

.bio{
  font-size: 14px;
  color: #767676;
}

.new-repo{
  margin-left: 5px;
}

.counter{
  padding: 2px 5px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  color: #666666;
  background-color: #eeeeee;
  border-radius: 20px;
}

#repo-template{
  width: 100%;
}

h3 {
  display: inline-block;
}

.bargraph{
  float: right;
}

.colordot{
  position: relative;
  top:1px;
  display: inline-block;
  width:12px;
  height: 12px;
  border-radius: 50%;
}

.CSS{
  background-color: #563d7c;
}

.HTML{
  background-color: #e44b23;
}

.JavaScript{
  background-color: #f1e05a;
}
