
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
$bordergray :#DDDDDD;
$bannergray :#F5F5F5;
$navbargray: #827A76;

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.header-fill{
  background-color: $bannergray;
  border-bottom: 1px solid $bordergray;
}

.header{
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 1012px;
}

.github-search{
  width:33%;
  display: inline-block;
  line-height: 20px;
}

.github-searchbar{
  max-height: 26px;
}

.nav-item{
  text-decoration: none;
  color: #333333;
  padding: 4px 8px;
  font-size: 13px;
  font-weight: 600;
}

.side-buttons{
  display: inline-block;
  float: right;
}

.top-btn{
  border: none;
  background-color: inherit;

}

.main-spacer{
  margin-top: 24px;
  max-width: 1012px;
}

.profile-pic{
  border-radius: 5px;
}

.name-holder{
  margin-top: 16px;
  margin-bottom: 16px;
}

.sidebar-name{
  font-size: 26px;
  line-height: 30px;
  font-weight: 600;
}

.sidebar-user{
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  color: #666666;
  line-height: 24px;
}

.email-box{
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: 1px solid $bordergray;
  border-bottom: 1px solid $bordergray;
}

h6{
  font-size: 16px;
  color: #333333;
}

.bio{
  display: inline-block;
  font-size: 14px;
  color: #767676;
  padding-bottom: 16px;
}

.staticbar{
  height: 62px;
  display: table-cell;
  vertical-align: middle;
}

.user-links > a {
  padding-left: 20px;
  padding-right: 20px;
  color: #767676;
}

.selected {

}

.utility-bar{
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  border-top: 1px solid $bordergray;
  border-bottom: 1px solid $bordergray;
}

.shaded-btn{
  background-image: linear-gradient(#fcfcfc, #eee);
}

.new-repo{
  margin-left: 5px;
  background-image: linear-gradient(#85d063, #4f992f);
}

.repo-search{
  width: 50%;
  display: inline-block;
}

.right-buttons{
  float: right;
}

.repo-img{
  color: white;
}

.counter{
  padding: 2px 5px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  color: #666666;
  background-color: #eeeeee;
  border-radius: 20px;
}

#repo-template{
  width: 100%;
}

h3 {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
}

.repo-template{
  border-bottom: 1px solid $bordergray;
}

.bargraph{
  float: right;
}

.colordot{
  position: relative;
  top:1px;
  display: inline-block;
  width:12px;
  height: 12px;
  border-radius: 50%;
}

.CSS{
  background-color: #563d7c;
}

.HTML{
  background-color: #e44b23;
}

.JavaScript{
  background-color: #f1e05a;
}

footer{
  border-top: 1px solid $bordergray;
  font-size: 12px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
}

.copyright{
  color: #767676;
}

.rightlinks{
  float:right;
}

.footercat{
  position: absolute;
  left: 50%;
}
